h1{
    text-align: center;
}
 body{
   background-color: lightcyan;
   }
   form
    width:
    margin:auto
    margin-top:auto
   }
  input{
    padding: 4px; 10px
    border:0
    front: size 16px;
  } 
  .search{
    width:75%;
  }
  .submit {
    width: 70px;
    background-color: #af1cc9";
    color:#ffffff
  }
